@{
    ViewBag.Title = "About";
}
<div class="row">
    <div class="container-fluid">
       
        

        <div class="jumbotron shadow p-3">
            <div class="row">
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <img src="~/Content/Images/about-us_AWPO.png" class="img-fluid shadow" />
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12 col-xs-12">
                    <h2 class="h2">@ViewBag.Title.<small>@ViewBag.Message</small></h2>
                    <p>AWPO with its Headquarters at Delhi has a PAN India network of 16 Placement Nodes at major industrial hubs and 50 Placement Cells at Regimental Centres / Area, Sub Area Headquarters.  AWPO provides assistance to ESM to enable a seamless transition from service to civilian life.</p>
                    <p>Apart from providing jobs in Corporate Sector, AWPO also assists in preparation for Govt jobs and skilling through Recognition of Prior Learning programme</p>

                </div>
            </div>
             </div>
    </div>
</div>
